.hero {
  width: 100%;
  height: 80vh;
  background: linear-gradient(
      rgba(0, 40, 85, 0.6),
      rgba(0, 40, 85, 0.6)
    ),
    url("https://images.unsplash.com/photo-1558494949-ef010cbdcc31");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 5%;
  position: relative;
}

.hero-content {
  max-width: 600px;
  z-index: 5;
}

.hero-title {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 15px;
  color: white;
}

.hero-text {
  font-size: 1.3rem;
  margin-bottom: 25px;
  line-height: 1.6;
  color: #f1f1f1;
}

.hero-btn {
  padding: 12px 25px;
  font-size: 1.1rem;
  background-color: #ff7a00; /* Naranja */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background-color: #ff9d38;
  transform: translateY(-3px);
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at bottom right, #007bff44, transparent 70%);
  pointer-events: none;
}
